.page{
}

.lista-de-filmes {
	padding:5px;
	padding-bottom:0px;
	
	.item-da-lista {
		position: relative;
		margin: 5px;
		float: left;
		figure {
			.filme-conteudo{
				background: #fffFFFEE;
				padding: 5px;
				position:absolute;
				width: 100%;
				height: 100%;
				right: 0px;
				top: 0px;
				opacity: 0;
				transition: all 0.5s;
				.stars{
					position:absolute;
					bottom:-5px;
					right:-5px;
				}
			}
		}
		figure:hover {
			.filme-conteudo{
				position:absolute;
				opacity:1;
			}
		}
		
	}
}

.el-input{
	width: 100%;
	padding: 15px 15px;
	font-size: 18px;
	border:0px;
	border-bottom:1px dashed #ccc;
	&:focus, &:active{
		outline: 0px;
	}
}
.el-icon{
	font-size: 25px;
}
.el-control{
	width:100%;
}